@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    height: 100%;
	/*font-family: 'Josefin Sans', sans-serif;
	font-family: 'Poppins', sans-serif;*/
}
body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-color: #152535;
}
/* Navbar starts */
.navbar{
	background-color: #203344;
	height: 60px;
}
.navbar-brand{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	margin-left: 60px;
}

.nav-item{
	font-family: 'Josefin Sans', sans-serif; 
}
.btn1{
	color: #000;
	margin-left: -35px;
	border: none;
	background-color: #fff;
}
.btn2{
	margin-left: 5px;
	border: none;
	color: #fff;
	background-color: #203344;

}
.collapse ul li a{
	padding: 1rem 0;
	margin: 0 1rem;
	letter-spacing: 2px;
	position: relative;
}
.collapse ul li a::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #2883FD;
	left: 0;
	transform: scaleX(0);
	transition: all 0.7s;
}
.collapse ul li a::before{
	top: 0;
	transform-origin: left;
}
.collapse ul li a:hover::before{
	transform: scaleX(1);
}

/* Navbar ends

/* hero section starts */

.section{
	display: block;
	padding: 0 60px;
}
.container{
	display: block;
	margin: 0 auto;
}
.flexbox{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.left{
	padding-top: 55px;
}

.right{
	/*max-width: 1046px;*/
	position: relative;
}
.right .image-2{

}
.heading {
    position: absolute;
    left: 2%;
    top: auto;
    right: 0%;
    bottom: 25%;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 600;
}
.paragraph {
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #747474;
}
.right .button{
	background-color: #1c87c9;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.right .first{
	margin-left: 20px;
}
.right .middle{
	background-color: #152535;
    border: 2px solid grey;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.right .last{
	background-color: #152535;
    border: 2px solid grey;
    border-radius: 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 10px;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .left{
    	display: none;
    }

    .right{
    	
    }

    .right .image-2{
    	width: 88vw;
    	align-items: center;
    	justify-content: center;
    }

    .heading{
        left: 0%;
        bottom: 25%;
    }

    .paragraph{
        margin-right: 120px;
        margin-left: 10px;
    }

    .button.first{
        margin-left: 10px;
    }
}

@media screen and (max-width: 767px) {
    .section{
        padding-right: 20px;
        padding-left: 20px;
    }

    .left{
        display: none;
    }

    .heading{
        position: static;
        bottom: 40%;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 28px;
        line-height: 161%;
    }

    .paragraph{
        margin-top: 0px;
        margin-right: 0px;
        font-size: 12px;
    }

    .button.first{
        font-size: 14px;
    }

    .button.last{
        font-size: 14px;
    }

    .button.middle{
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    .heading{
        position: static;
        font-size: 24px;
    }

    .paragraph{
        font-size: 10px;
        line-height: 15px;
    }

    .button.first{
        margin-right: 5px;
        font-size: 12px;
    }

    .button.last{
        margin-right: 0px;
        margin-left: 0px;
        font-size: 12px;
    }

    .button.middle{
        margin-right: 5px;
        margin-left: 0px;
        font-size: 12px;
    }
}


/* hero section ends*/

/* carousel starts */

.favourites{
  width: 100%;
  padding: 40px 0px 20px 0px;
}
.carousel{
  position: relative;
  width: 100%;
}
.box{
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 370px;
  height: 200px;
  transition: 0.3s ease;
  position: relative;
}
.img-description{
  position: absolute;
  color: rgba(128, 128, 128,0.9);
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 20, 0.5);
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.2s, visibility 0.2s;
  font-family: 'Poppins', sans-serif;
} 
.img-description a{
  position: absolute;
  top: 40%;
  /*font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;*/
  /*font-family: 'Poppins', sans-serif;*/
}
.box:hover .img-description{
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.box p{
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
}
.box .fa{
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}
.carousel-inner{
  /*margin-left: 25px;*/
  margin-top: 30px;
}

.carousel-indicators{
  position: absolute;
  right: 0;
  bottom: -60px!important;
}
.carousel-indicators li{
  background-color: #000!important;
}
/*.row{
  display: inline-block;
}*/
/*.carousel-item{
  margin: 0 10px;
}*/
.box a{
  position: relative;
}
.box a img{
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 100%;
  border-radius: 5px;
}
.headings h1{
  color: #fff;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;

}
a.carousel-control-next{
  position: absolute;
  width: 25px;
  background: none;
  margin: 0 5%;
}
.carousel-control-next span{
  position: absolute;
  width: 100%;
  top: 50%;
  right: -50%;

}
a.carousel-control-prev{
  position: absolute;
  width: 25px;
  background: none;
  margin: 0 5%;
}
.carousel-control-prev span{
  position: absolute;
  width: 100%;
  top: 50%;
  left: -50%;
}
.bollywood{
  width: 100%;
  padding: 40px 0px 20px 0px;
}

/* carousel ends */





/* Trailer starts */


.section-3{
  width: 100%;
  padding: 60px 60px 20px 60px; 
  
}
.section-3 .carousel{
  width: 100%;
  margin: 0 auto;
  
}
.top-rated{
  height: 100% !important;
  width: 100%;
  margin: 40px -10px 0 50px;
}
.sec-3{
  /*margin: 0 0 0 80px;*/
  height: 100%;
}

/* Trailer ends */